/* You can add global styles to this file, and also import other style files */
.cdk-overlay-container {
  position: fixed;
  z-index: 1000; /* Giá trị z-index có thể điều chỉnh theo yêu cầu */
  top: 0;  
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: auto;
  background: rgba(0, 0, 0, .32);
}
.cdk-global-overlay-wrapper{
  display: flex;  
  margin-top: 70px;
}

.cdk-overlay-pane {
  position: absolute;
  z-index: 1000;
  pointer-events: auto;
}