<div class="container-popup-advice">
  <span class="material-icons icon-close" (click)="closeDialog()" >
    close
  </span>
  <div class="title-popup">
    <h3>ĐĂNG KÝ TƯ VẤN</h3>
  </div>
  <div class="content-title">
    Quý khách hàng vui lòng điền thông tin để nhận báo giá lăn bánh.
  </div>
  <div class="group-input-create">
    <div class="control-input">
      <input type="text"
             placeholder="Họ và tên">
    </div>
    <div class="control-input">
      <input type="text"
             placeholder="Số điện thoại">
    </div>
    <div class="control-input">
      <select>
        <option value="">Chọn tỉnh thành</option>
      </select>
    </div>
    <div class="control-input">
      <select>
        <option value="">Chọn dòng xe</option>
      </select>
    </div>


    <button class="btn-send-advice">Gửi yêu cầu</button>
  </div>
</div>